/**
 * Enable antialiasing
 * http://maximilianhoffmann.com/posts/better-font-rendering-on-osx
 */
@mixin antialiased($state: true) {
	@if $state == true {
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
	@else {
		-webkit-font-smoothing: subpixel-antialiased;
		-moz-osx-font-smoothing: auto;
	}
}
