/**
 * Vertical align using psuedo elements
 * See: http://css-tricks.com/centering-in-the-unknown/
 */

// Add this to the containing div of the items to be centered
@mixin vertical-align($with-children:false) {
	&:before {
		content: '';
		display: inline-block;
		height: 100%;
		vertical-align: middle;
	}

	// Make the contents vertically aligned
	@if($with-children) {
		> * {
			@include vert-align-content;
		}
	}
}

// Add this to the actual block of content you want centered
@mixin vert-align-content() {
	display: inline-block;
	vertical-align: middle;
}